/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define DEFAULT 0
#define FUNC 1
#define NAV 2
#define L_MOD 3
#define R_MOD 4
#define MOUSE 5
#define NUM 6
#define ALWAYS 7

&mt {
    tapping-term-ms = <300>;
};

/ {
    keymap 
	{
    compatible = "zmk,keymap";

    default_layer {
            bindings = <
    &kp Q &kp W &kp E &kp R &kp T &kp Y &kp U &kp I &kp O &kp P
    &mt LSHIFT A &lt FUNC S &lt NAV D &lt L_MOD F &kp G &kp H &lt R_MOD J &lt MOUSE K &lt NUM L &mt LSHIFT SEMI
    &kp Z &kp X &kp C &kp V &kp B &kp N &kp M &kp COMMA &kp PERIOD &kp SLASH
    &kp LA(LSHIFT) &kp BACKSPACE &lt ALWAYS SPACE &kp LC(LA(LSHIFT))
            >;
        };

    func_layer {
            bindings = <
    &trans &trans &trans &trans &trans &trans &kp F7 &kp F8 &kp F9 &kp F10  
    &trans &none &kp LC(LALT) &trans &trans &trans &kp F4 &kp F5 &kp F6 &kp F11
    &trans &trans &trans &trans &trans &trans &kp F1 &kp F2 &kp F3 &kp F12  
    &trans &trans &trans &trans
            >;
        };

    nav_layer {
            bindings = <
    &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans
    &trans &trans &none &trans &trans &kp LEFT &kp DOWN &kp UP &kp RIGHT &trans
    &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans
    &trans &trans &trans &trans
            >;
        };

    left_mod_layer {
            bindings = <
    &trans &trans &trans &trans &trans &trans &kp UNDER &kp PIPE &kp SQT &trans
    &kp CARET &kp STAR &kp AMPS &none &trans &kp HASH &kp TILDE &kp SLASH &kp DQT &kp DOLLAR
    &trans &trans &trans &trans &trans &trans &kp MINUS &kp BSLH &kp GRAVE &trans
    &trans &trans &trans &trans
            >;
        };

    right_mod_layer {
            bindings = <
    &trans &kp COLON &kp LT &kp GT &trans &trans &trans &trans &trans &trans
    &kp LBRC &kp RBRC &kp LPAR &kp RPAR &kp AT &trans &none &kp EQUAL &kp PLUS &kp PERCENT
    &trans &kp EXCL &kp LBKT &kp RBKT &trans &trans &trans &trans &trans &trans
    &trans &trans &trans &trans
            >;
        };

    mouse_layer {
            bindings = <
    &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans
    &trans &trans &trans &trans &trans &trans &trans &none &trans &trans
    &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans
    &trans &trans &trans &trans
            >;
        };

    num_layer {
            bindings = <
    &trans &kp N7 &kp N8 &kp N9 &trans &trans &trans &trans &trans &trans
    &kp N0 &kp N4 &kp N5 &kp N6 &trans &trans &trans &trans &none &trans
    &trans &kp N1 &kp N2 &kp N3 &trans &trans &trans &trans &trans &trans
    &trans &trans &trans &trans
            >;
        };

    always_layer {
            bindings = <
    &trans &trans &trans &kp ESCAPE &trans &trans &trans &trans &trans &trans
    &trans &trans &trans &kp ENTER &trans &trans &kp LGUI &trans &trans &trans
    &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans
    &trans &kp TAB &none &trans
            >;
        };
    };
};
